    <%- include("templates/header") %>

    <h1>Profile</h1>
    <form action="/profileSubmit" method="post" onsubmit="handleFormSubmit(event)">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="<%= user.username %>" disabled>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" disabled>
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="<%= user.city %>" disabled>
        </div>
        <button type="button" id="edit-btn" onclick="enableEditing()">Edit</button>
        <button type="submit" id="save-btn" style="display: none;" onclick="disableEditing()">Save</button>
    </form>

    <script src="/js/profile.js"></script>
    <%- include("templates/footer") %>
