<%- include("./templates/header") %>
    <form action="/resetPasswordSubmit" method="post">
        <input type="hidden" name="username" value="<%=user%>">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required><br>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br>
        <button type="submit">Change Password</button>
        <% if (error) { %>
            <p class="error"><%=error%></p>
        <% } %>
        <input type="hidden" id="id" name="id" value="<%= id %>" required><br>
    </form>
<%- include("./templates/footer") %>